    <div id="ads-dialog" class="ads-dialog">
            <h2 style="color:red;">Направить Вам больше клиентов?</h2>
            <p><strong style="color:red;">VIP-размещение поможет Вам:</strong><br/>
                <span style="color:red; font-weight:bold;">+</span> увеличить количество просмотров информации о Вашей компании;<br/>
                <span style="color:red; font-weight:bold;">+</span>  увеличить количество клиентов;<br/>
                <span style="color:red; font-weight:bold;">+</span>  увеличить Вашу прибыль;<br/>
                <span style="color:red; font-weight:bold;">+</span>  занять первые позиции  на spravka11.ru;<br/>
                <span style="color:red; font-weight:bold;">+</span>  получить статус «Рекомендуемой компании»;<br/>
                <span style="color:red; font-weight:bold;">+</span>  получить приоритетный показ в отличие от  конкурентов;<br/>
                <span style="color:red; font-weight:bold;">+</span>  показать будущим клиентам  фото своих товаров и услуг.
            </p>
            <p><h2>Пользователями  «spravka11.ru»</h2>
                в 2014 году стали более 154000 посетителей.
            </p>
            <p><h2>Стоимость «VIP-размещения»:</h2>
                — 1 месяц - 4000 рублей;<br/>
                — 3 месяца - 7000 рублей;<br/>
                — 6 месяцев - 8000 рублей;<br/>
                — <strong>12 месяцев - 12000 рублей - Скидка 75% - Экономия 36 000 рублей - <span style="color:red;">Хит продаж</span></strong>
            </p>
            <p>«VIP-размещением» уже пользуются ведущие компании Республики Коми, посмотрите их отзывы.</p>
            <p>Подробности по телефону:  (8212) 200-532 или в нашем офисе: г. Сыктывкар, Сысольское шоссе, 64, (ДОСААФ) 1 этаж, ООО «Русский Север-Коми»</p>
    </div>

    <div id="logo-dialog" class="logo-dialog">
            <h2>Хотите логотип?</h2>
            <p>Разместите на Вашем web-сайте баннер:</p> 
            <p><img src="/static/images/org-add/extbanner.png" width="128" height="49" alt="" /></p>
            <p>html-код для вставки:<br />
            <span class="code2ext">&lt;a href=&quot;http://www.spravka11.ru/&quot;&gt;&lt;img src=&quot;http://spravka11.ru/static/images/org-add/extbanner.png&quot;&gt;&lt;/a&gt;</span>
            </p>
            <p>И сообщите нам об этом по телефону (8212) 200-697</p>
    </div>