{% extends 'company/base.html' %}
{% load mptt_tags %}

{% load banner %}

{% block title %}Полный рубрикатор - spravka11.ru{% endblock %}
{% block description %}Полный рубрикатор - spravka11.ru{% endblock %}

{% block main_content %}

    <!--Основная часть-->
            <div class="inner__content">

                <h2 class="block-header">Полный рубрикатор<span class="block-header__line"></span></h2>
                <!--Каталог-->
                <div class="catalog">
                    <div class="catalog__column fll" style="margin:0 50px 0 0">
                        <ul class="catalog-list">
                    {% recursetree category1 %}
                        {% if node.level == 0 %}
                            <li class="catalog-list__item">
                                <div class="catalog-entry">
                                    <span class="catalog-entry__icon">{% if node.ico %}<img src="{{ node.ico.url }}" alt="" />{% endif %}</span>
                                    <h3 class="catalog-entry__header">{{ node.name }}</h3>
                        {% endif %}

                        {% if node.level == 1 %}
                            <li class="useful-list__item"><p class="catalog-entry__h"><span class="bbdb">{{ node.name }}</span></p>
                        {% endif %}

                        {% if node.level == 2 %}
                            <a href="{% url 'companylist' node.pk %}">{{ node.name }}</a>
                            {% if node.get_next_sibling %}
                                <span class="bullet">&bull;</span>
                            {% endif %}
                        {% endif %}

                        {% if not node.is_leaf_node %}
                            {% if node.level == 0 %}
                                <ul class="catalog-entry__useful useful-list">
                                    {{ children }}
                                </ul>
                            {% elif node.level == 1 %}
                                <p class="catalog-entry__rubrics">
                                    {{ children }}
                                </p>
                            {% endif %}
                        {% endif %}

                        {% if node.level == 0 %}
                                </div>
                            </li>
                        {% endif %}
                    {% endrecursetree %}
                                
                        </ul>
                    </div>
                    <div class="catalog__column fll">
                        <ul class="catalog-list">
                           
                    {% recursetree category2 %}
                        {% if node.level == 0 %}
                            <li class="catalog-list__item">
                                <div class="catalog-entry">
                                    <span class="catalog-entry__icon">{% if node.ico %}<img src="{{ node.ico.url }}" alt="" />{% endif %}</span>
                                    <h3 class="catalog-entry__header">{{ node.name }}</h3>
                        {% endif %}

                        {% if node.level == 1 %}
                            <li class="useful-list__item"><p class="catalog-entry__h"><span class="bbdb">{{ node.name }}</span></p>
                        {% endif %}

                        {% if node.level == 2 %}
                            <a href="{% url 'companylist' node.pk %}">{{ node.name }}</a>
                            {% if node.get_next_sibling %}
                                <span class="bullet">&bull;</span>
                            {% endif %}
                        {% endif %}

                        {% if not node.is_leaf_node %}
                            {% if node.level == 0 %}
                                <ul class="catalog-entry__useful useful-list">
                                    {{ children }}
                                </ul>
                            {% elif node.level == 1 %}
                                <p class="catalog-entry__rubrics">
                                    {{ children }}
                                </p>
                            {% endif %}
                        {% endif %}

                        {% if node.level == 0 %}
                                </div>
                            </li>
                        {% endif %}
                    {% endrecursetree %}

                        </ul>
                    </div>
                </div>
                <!--Алфавит-->
                <div class="alphabet">
                    <h4 class="alphabet__header">Алфавитный поиск товаров и услуг</h4>
                    <ul class="alphabet-letters">

                        {% for key,value in abc.items %}
                            {% if key == 30 %}
                                <li class="alphabet-letters__letter alphabet-letters__letter--all"><a href="{% url 'categoryabclist' key %}">{{ value }}</a></li>
                            {% else %}
                                <li class="alphabet-letters__letter"><a href="{% url 'categoryabclist' key %}">{{ value }}</a></li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
            </div>
{% endblock %}