{% extends 'company/base.html' %}

{% load thumbnail %}
{% load company_template_tag %}

{% block title %}{{ category }}{% endblock %}
{% block description %}{{ category }}{% endblock %}

{% block main_content %}

<p class="breadcrumbs">
<a href="{% url 'index' %}" class="breadcrumbs__link" >Главная</a> /
{% if category.level == 0 %}
    {{ category.name }}
{% elif category.level == 1 %}
    <a href="{% url 'companylist' category.parent.pk %}" class="breadcrumbs__link" >{{ category.parent }}</a> / {{ category.name }}
{% elif category.level == 2 %}
    <a href="{% url 'companylist' category.parent.parent.pk %}" class="breadcrumbs__link">{{ category.parent.parent }}</a> / <a href="{% url 'companylist' category.parent.pk %}" class="breadcrumbs__link" >{{ category.parent }}</a> / {{ category.name }}
{% endif %}
</p>

<h1 class="block-header">{{  category.name }}<span class="block-header__line"></span></h1>

{% if category.level != 2%}
    {% if category_list %}
        {% for cat in category_list %}
            <p><a href="{% url 'companylist' cat.pk %}">{{ cat.name }}</a></p>
        {% endfor %}
    {% else %}
        <p>Подрубрик нет</p>
    {% endif %}
{% else %}
    <p class="search-result__count">Компаний в рубрике: {{ count }}</p>
    
    {% if category.article %}
        {% autoescape off %}{{ category.article }}{% endautoescape %}
    {% endif %}

{% regroup object_list by city as city_company_list %}

{% for city in city_company_list %}
    
    <h2 class="block-header__medium">{{ city.grouper }}<span class="block-header__line"></span></h2>

    {% regroup city.list by company as company_list %}

    <div class="search-result">
        {% for company in company_list %}
            <div class="search-block {% if company.list.0.company.recomendation %}search-block--recommend{% endif %} {% if company.list.0.company.yellow %}search-block--vip {% else %}
            {% if company.list.0.company.blue %}search-block--vip2 {%else%} {% if company.list.0.company.priority > 10 %}search-block--standart{% endif %} {% endif %} {% endif %} g-clearfix">
            {% if company.list.0.company.recomendation %}<p class="search-block__label recommend-label">Рекомендуем</p>{% endif %}

                <div class="search-block__content">
                    <div class="htp">
                        <div class="htp__pic">
                            {% if company.list.0.company.logo %}<a href ="{% url 'company_detail' company.list.0.company.pk %}"><img src="{{ company.list.0.company.logo.url }}" width="170" height="80"></a>{% else %}<a class="logo-dialog-control" href="#"><img src="/static/images/card/1.png" width="170" height="80"></a>{% endif %}
                            {% if company.list.0.company.priority < 10 %}<p><a class="ads-dialog-control" href="#">В лидеры рубрики</a></p>{% endif %}
                        </div>
                        <div class="htp__text">
                            <h3><a href="{% url 'company_detail' company.list.0.company.pk %}">{{ company.grouper }}</a></h3>
                            <p>{{ company.keywords }}</p>
                            {% if not company.list.0.company.companyimage_set.all or company.list.0.company.priority < 10 %}<div class="add-new-photo"><a class="ads-dialog-control" href="#">Добавить фотографии<br />товаров и услуг</a></div>{% endif %}
                        </div>
                    </div>
                    
                    {% if company.list.0.company.companyimage_set.all and company.list.0.company.priority > 10 %}
                        <div class="thumb slider-wrap">
                            <div class="slider-wrap__prev">
                                <a href="#" class="slider-control slider-control--prev"><span class="prev"></span></a>
                            </div>
                            <div class="slider-wrap__next">
                                <a href="#" class="slider-control slider-control--next"><span class="next"></span></a>
                            </div>
                            <ul class="thumb-list">
                                {% for img in company.list.0.company.companyimage_set.all %}
                                    {% thumbnail img.image "100x100" crop="center" as im %}
                                        <li class="thumb-list__item"><a href="{{ img.image.url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a></li>
                                    {% endthumbnail %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                <div class="search-block__contacts">
                    <ul class="contacts-list contacts-list--small">
                        <li class="contacts-list__item"><img class="contacts-list__icon" src="/static/images/contacts-list/address-small.png" /><span>{{ company.list.0.address }}</span></li>
                        {% if company.list.0.phone_set.all %}
                            <li class="contacts-list__item"><img class="contacts-list__icon" src="/static/images/contacts-list/tel-small.png" /><span>
                            {% for item in company.list.0.phone_set.all %}
                                {{ item }}<br/> 
                            {% endfor %}</span></li>
                        {% endif %}
                        {% if company.list.0.company.email %}
                            <li class="contacts-list__item"><img class="contacts-list__icon" src="/static/images/contacts-list/email-small.png" /><a href="mailto:{{ company.list.0.company.email }}">{{ company.list.0.company.email }}</a></li>
                        {% endif %}
                        {% if company.list.0.company.website %}
                            <li class="contacts-list__item"><img class="contacts-list__icon" src="/static/images/contacts-list/url-small.png" /><a href="{{ company.list.0.company.website }}">{{ company.list.0.company.website }}</a></li>
                        {% endif %}
                        {% if company.list.0.get_timetable_today %}
                            <li class="contacts-list__item"><img class="contacts-list__icon" src="/static/images/contacts-list/time-small.png" /><span>
                            {% if company.list.0.get_timetable_today.0.holiday %}
                                {{ company.list.0.get_timetable_today.0.get_day_display }}: Выходной
                            {% else %}
                                {{ company.list.0.get_timetable_today.0.get_day_display }}: {{ company.list.0.get_timetable_today.0.worktimebegin|date:"G:i" }} - {{ company.list.0.get_timetable_today.0.worktimeend|date:"G:i" }}
                                    {% if company.list.0.get_timetable_today.0.lunchtimebegin and company.list.0.get_timetable_today.0.lunchtimeend %}
                                        , обед: {{ company.list.0.get_timetable_today.0.lunchtimebegin|date:"G:i" }} - {{ company.list.0.get_timetable_today.0.lunchtimeend|date:"G:i" }}
                                    {% endif %}
                            {% endif %}</span></li>
                        {% endif %}
                        {% if company.list.0.company.address_count > 1 %}
                            <li class="contacts-list__item"><a href="{% url 'company_detail' company.list.0.company.pk %}">Еще адреса {{ company.list.0.company.address_count }}</a></li>    
                        {% endif %}
                    </ul>
                </div>                    
            
            </div>
        {% endfor %}
    </div> 
{% endfor %}

{% endif %}

{% company_ads_link %}

{% if page_obj.paginator.num_pages > 1 %}
    {% load news_extras %}
    <hr class="divider" />
    
    <ul class="pages">
        <li class="pages__page pages__page--text">Страницы</li>
        {% if page_obj.has_previous %}
            <li class="pages__page"><a href="{% url 'companylist' category.pk %}">Первая</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
            {% if page_obj.previous_page_number == 1 %}
                <li class="pages__page"><a href="{% url 'companylist' category.pk %}">«</a></li>
            {% else %}
                <li class="pages__page"><a href="?page={{ page_obj.previous_page_number }}">«</a></li>
            {% endif %}
        {% endif %}
        {% for page in paginator.page_range|get_before:page_obj.number %}
            {% if page == 1 %}
                <li class="pages__page"><a href="{% url 'companylist' category.pk %}">{{ page }}</a></li>
            {% else %}
                <li class="pages__page"><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="pages__page pages__page--active">{{ page_obj.number }}</li>
        {%  for page in paginator.page_range|get_after:page_obj.number %}
            <li class="pages__page"><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="pages__page"><a href="?page={{ page_obj.next_page_number }}">»</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="pages__page"><a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}