{% extends 'base_second.html' %}

{% load thumbnail %}

{% block title %}Новости компаний{% endblock %}
{% block description %}Новости компаний{% endblock %}

{% block main_content %}

<p class="breadcrumbs"><a href="{% url 'index' %}" class="breadcrumbs__link" >Главная</a></p>
                
<h1 class="block-header">Новости компаний<span class="block-header__line"></span></h1>
<div class="news">
{% if object_list %}
    <ul class="news-list">
    {% for news in object_list %}
        <li class="news-list__item">
            <div class="news-item">
                {% if news.photo %}
                <div class="news-list__image">{% thumbnail news.photo "142x95" crop="center" as im %}<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}</div>
                {% endif %}
                <div class="news-list__content">
                    <p class="news-item__date">{{ news.pub_date|date:"G E Y"|lower }}</p>
                    {% if news.company.vizitka and news.company.subdomain %}
                        <h3 class="news-item__header"><a href="http://{{ news.company.subdomain }}.{{ MAIN_DOMAIN }}{% url 'sub_current_company_news_detail' news.pk %}">{{ news.title }}</a></h3>
                    {% else %}
                        <h3 class="news-item__header"><a href="{% url 'current_company_news_detail' news.company.pk news.pk %}">{{ news.title }}</a></h3>
                    {% endif %}

                    
                    <p class="news-item__text">{{ news.announcement|truncatewords:10 }}</p>
                    <p class="news-item__text"><a href="{{ news.company.get_absolute_url }} ">{{ news.company }}</a></p>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Новостей нет.</p>
{% endif %}
</div>

{% if page_obj.paginator.num_pages > 1 %}
    {% load news_extras %}
    <hr class="divider" />
    
    <ul class="pages">
        <li class="pages__page pages__page--text">Страницы</li>
        {% if page_obj.has_previous %}
            <li class="pages__page"><a href="{% url 'company_news' %}">Первая</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
            {% if page_obj.previous_page_number == 1 %}
                <li class="pages__page"><a href="{% url 'company_news' %}">«</a></li>
            {% else %}
                <li class="pages__page"><a href="?page={{ page_obj.previous_page_number }}">«</a></li>
            {% endif %}
        {% endif %}
        {% for page in paginator.page_range|get_before:page_obj.number %}
            {% if page == 1 %}
                <li class="pages__page"><a href="{% url 'company_news' %}">{{ page }}</a></li>
            {% else %}
                <li class="pages__page"><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="pages__page pages__page--active">{{ page_obj.number }}</li>
        {%  for page in paginator.page_range|get_after:page_obj.number %}
            <li class="pages__page"><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="pages__page"><a href="?page={{ page_obj.next_page_number }}">»</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="pages__page"><a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}