{% extends 'company/vizitka_base.html' %}

{% load thumbnail %}

{% block title %}Новости компании {{ company.name }}{% endblock %}
{% block description %}Новости компании {{ company.name }}{% endblock %}

{% block vizitka_content %}
<p class="breadcrumbs"><a href="http://{{ company.subdomain }}.{{ MAIN_DOMAIN }}" class="breadcrumbs__link">Главная</a></p>

<h1 class="block-header">Новости компании {{ object_list.0.company }}<span class="block-header__line"></span></h1>

<div class="news">
    <ul class="news-list">
    {% if object_list %}
        {% for news in object_list %}
            <li class="news-list__item">
            <div class="news-item">
                {% if news.photo %}
                <div class="news-list__image"><a href="http://{{ company.subdomain }}.{{ MAIN_DOMAIN }}{% url 'sub_current_company_news_detail' news.pk %}">{% thumbnail news.photo "142x95" crop="center" as im %}<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}</a></div>
                {% endif %}
                <div class="news-list__content">
                    <p class="news-item__date">{{ news.pub_date|date:"G E Y"|lower }}</p>
                    <h3 class="news-item__header"><a href="http://{{ company.subdomain }}.{{ MAIN_DOMAIN }}{% url 'sub_current_company_news_detail' news.pk %}">{{ news.title }}</a></h3>
                    <p class="news-item__text">{{ news.announcement|truncatewords:10 }}</p>
                </div>
            </div>
            </li>
        {% endfor %}
    {% else %}
        <p>Новостей нет</p>
    {% endif %}
    </ul>
</div>

{% if page_obj.paginator.num_pages > 1 %}
    {% load news_extras %}
    <hr class="divider" />
    
    <ul class="pages">
        <li class="pages__page pages__page--text">Страницы</li>
        {% if page_obj.has_previous %}
            <li class="pages__page"><a href="http://{{ company.subdomain }}.{{ MAIN_DOMAIN }}{% url 'sub_current_company_news_all' %}">Первая</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
            {% if page_obj.previous_page_number == 1 %}
                <li class="pages__page"><a href="http://{{ company.subdomain }}.{{ MAIN_DOMAIN }}{% url 'sub_current_company_news_all' %}">«</a></li>
            {% else %}
                <li class="pages__page"><a href="?page={{ page_obj.previous_page_number }}">«</a></li>
            {% endif %}
        {% endif %}
        {% for page in paginator.page_range|get_before:page_obj.number %}
            {% if page == 1 %}
                <li class="pages__page"><a href="http://{{ company.subdomain }}.{{ MAIN_DOMAIN }}{% url 'sub_current_company_news_all' %}">{{ page }}</a></li>
            {% else %}
                <li class="pages__page"><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="pages__page pages__page--active">{{ page_obj.number }}</li>
        {%  for page in paginator.page_range|get_after:page_obj.number %}
            <li class="pages__page"><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="pages__page"><a href="?page={{ page_obj.next_page_number }}">»</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="pages__page"><a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}