{% extends 'company/vizitka_base.html' %}

{% load thumbnail %}

{% block title %}Товары и услуги компании {{ company.name }}{% endblock %}
{% block description %}Товары и услуги компании {{ company.name }}{% endblock %}

{% block vizitka_content %}
<p class="breadcrumbs"><a href="{% url 'company_detail' company.pk %}" class="breadcrumbs__link">Главная</a></p>
<h1 class="block-header">Товары и услуги компании {{ object_list.0.company }}<span class="block-header__line"></span></h1>

<ul class="h-list g-clearfix">
{% for service in object_list %}
    <li class="h-list__item">
        <div class="vtp">
            <div class="vtp__pic"><a href="{% url 'current_company_service_detail' service.company.pk service.pk %}">{% thumbnail service.image "170x170" crop="center" as im %}<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}</a><br /></div>
            <div class="vtp__text"><a class="h-list__text" href="{% url 'current_company_service_detail' service.company.pk service.pk %}">{{ service.title }}</a></div>
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}