    <div class="page__footer">
        <div class="inner">
            <div class="footer">
                <div class="footer__right">
                    <p class="footer__logo"><img src="/static/images/footer/logo.png" width="161" height="21" alt="" /></p>
                    <p>ООО &ldquo;Русский Север - Коми&bdquo;<br />167982, г. Сыктывкар, Сысольское шоссе 64<br />тел. /факс: (8212) 200-697, 200-532<br />Электронная почта: <a href="maitlto:russevkomi@yandex.ru">russevkomi@yandex.ru</a></p>
                </div>
                <ul class="footer-nav">
                    <li class="footer-nav__item"><a class="footer-nav__link" href="/page/capability/">Рекламные возможности Spravka11.ru</a></li>
                    <li class="footer-nav__item"><a class="footer-nav__link" href="/page/price/">Заказать полиграфию</a></li>
                </ul>
                <p class="footer__copyright">
                    <a id="test-dialog" href="http://ebg.su/">Разработка сайта</a> &ldquo;ЭкспертБизнесГрупп&rdquo;<br />&copy;&nbsp;2010-{% now 'Y' %} Русский Север - Коми<br /><br />

                    <!--LiveInternet counter--><script type="text/javascript"><!--
                            document.write("<a href='http://www.liveinternet.ru/click' "+
                            "target=_blank><img src='//counter.yadro.ru/hit?t22.6;r"+
                            escape(document.referrer)+((typeof(screen)=="undefined")?"":
                            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                            ";"+Math.random()+
                            "' alt='' title='LiveInternet: показано число просмотров за 24"+
                            " часа, посетителей за 24 часа и за сегодня' "+
                            "border='0' width='88' height='31'><\/a>")
                            //--></script><!--/LiveInternet-->

                </p>
            </div>
        </div>
    </div>