    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/css/nivo-lightbox.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/js/nivo-lightbox/themes/default/default.css" media="all" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="/static/js/nivo-lightbox/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="/static/js/carousel.js"></script>
    <script type="text/javascript" src="/static/js/default.js"></script>
